@{
    ViewBag.Title = "Index";
    Layout = null;


}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BANK Branch Details</title>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/BankBrDetails.js"></script>
    <style>
        /*----- Tabs -----*/
        .tabs {
            width: 100%;
            display: inline-block;
        }

        /*----- Tab Links -----*/
        /* Clearfix */
        .tab-links:after {
            display: block;
            clear: both;
            content: '';
        }

        .tab-links li {
            margin: 0px 5px;
            float: left;
            list-style: none;
        }

        .tab-links a {
            padding: 9px 15px;
            display: inline-block;
            border-radius: 3px 3px 0px 0px;
            background: #7FB5DA;
            font-size: 16px;
            font-weight: 600;
            color: #4c4c4c;
            transition: all linear 0.15s;
        }

            .tab-links a:hover {
                background: #a7cce5;
                text-decoration: none;
            }

        li.active a, li.active a:hover {
            background: #fff;
            color: #4c4c4c;
        }

        /*----- Content of Tabs -----*/
        .tab-content {
            padding: 15px;
            border-radius: 3px;
            box-shadow: -1px 1px 1px rgba(0,0,0,0.15);
            background: #fff;
        }

        .tab {
            display: none;
        }

            .tab.active {
                display: block;
            }

        table {
            border-collapse: separate;
            border-spacing: 0 15px;
            width: 100%
        }

        th, td {
            width: 130px;
            padding: 15px;
        }
    </style>
</head>
<body>
    <div id="main" class="active">
        <h2>BANK BRANCH DEFINATION</h2>
        <Table ID="defbank">
            <tr>
                <td><label for="BANK_CODE_BANK_BR_DEF">Bank Code</label></td>
                <td><select  class="form-control" id="BANK_CODE_BANK_BR_DEF" placeholder="Bank Code" ></select></td>
            </tr>
            <tr>
                <td><label for="CODE_BANK_BR_DEF">Code</label></td>
                <td><input type="text" class="form-control" id="CODE_BANK_BR_DEF" placeholder="Code" /></td>
                <td><button id="CODEBTN" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="loadData();"><i class="fa fa-search"></i></button></td>
                <td><label for="DESC_BANK_BR_DEF">DESC</label></td>
                <td><input type="text" class="form-control" id="DESC_BANK_BR_DEF" placeholder="DESC" /></td>
            </tr>

            <tr>

                <td><label for="ADDRESS_BANK_BR_DEF">ADDRESS</label></td>
                <td colspan="5"><input type="text" class="form-control" id="ADDRESS_BANK_BR_DEF" placeholder="ADDRESS" /></td>
            </tr>
            <tr>
                <td><label for="PHONE_BANK_BR_DEF">PHONE</label></td>
                <td><input type="text" class="form-control" id="PHONE_BANK_BR_DEF" placeholder="PHONE" /></td>
                <td><label for="FAX_BANK_BR_DEF">FAX</label></td>
                <td><input type="text" class="form-control" id="FAX_BANK_BR_DEF" placeholder="FAX" /></td>
            </tr>
            <tr>
                <td><label for="MANAGER_BANK_BR_DEF">MANAGER</label></td>
                <td><input type="text" class="form-control" id="MANAGER_BANK_BR_DEF" placeholder="MANAGER" /></td>
                <td><label for="TELE_BANK_BR_DEF">TELEPHONE</label></td>
                <td><input type="text" class="form-control" id="TELE_BANK_BR_DEF" placeholder="TELEPHONE" /></td>
            </tr>
            <tr>
                <td><label for="INACTIVE_LMS_BANK_BR_DEF">INACTIVE LMS</label></td>
                <td colspan="3"><input type="text" class="form-control" id="INACTIVE_LMS_BANK_BR_DEF" placeholder="INACTIVE LMS" /></td>
                <td><label for="INACTIVE_IMS_BANK_BR_DEF">INACTIVE IMS</label></td>
                <td colspan="2"><input type="text" class="form-control" id="INACTIVE_IMS_BANK_BR_DEF" placeholder="INACTIVE IMS" /></td>
                <td><label for="INACTIVE_MFL_BANK_BR_DEF">INACTIVE MFL</label></td>
                <td colspan="2"><input type="text" class="form-control" id="INACTIVE_MFL_BANK_BR_DEF" placeholder="INACTIVE MFL" /></td>
            </tr>

            <tr>
                <td><label for="AUTH_STATUS_BANK_BR_DEF">Auth Status</label></td>
                <td colspan="2"><input type="text" class="form-control" id="AUTH_STATUS_BANK_BR_DEF" placeholder="Auth Status" /></td>
                <td><label for="AUTH_BY_BANK_BR_DEF">Auth By</label></td>
                <td colspan="4"><input type="text" class="form-control" id="AUTH_BY_BANK_BR_DEF" placeholder="Auth By" /></td>
            </tr>
            <tr>
                <td><label for="AUTH_DATE_BANK_BR_DEF">Auth Date</label></td>
                <td><input type="date" class="form-control" id="AUTH_DATE_BANK_BR_DEF" placeholder="AuthDate" /></td>
                <td><label for="AUTH_REMARKS_BANK_BR_DEF">Auth Remarks</label></td>
                <td colspan="4"><input type="text" class="form-control" id="AUTH_REMARKS_BANK_BR_DEF" placeholder="AuthRemark" /></td>
            </tr>


        </Table>
        <button type="button" class="btn btn-primary" id="btnCreate" onclick="return Create();">Create</button>
        <button type="button" class="btn btn-primary" id="btnAdd"  disabled onclick="return Add();">Add</button>
        <button type="button" class="btn btn-primary" id="btnUpdate" disabled onclick="Update();">Update</button>
        <button type="button" class="btn btn-primary" id="btnEdit" disabled onclick="Edit();">Edit</button>
        <button type="button" class="btn btn-primary" id="btnDelete" disabled onclick="Delete();">Delete</button>

        <button type="button" class="btn btn-primary" id="btnBackward" onclick="Backward();"><</button>
        <button type="button" class="btn btn-primary" id="btnFirst" onclick="First();"><<</button>
        <button type="button" class="btn btn-primary" id="btnLast" onclick="Last();">>></button>
        <button type="button" class="btn btn-primary" id="btnForward" onclick="Forward();">></button>
        <p id="errormsg" style="color:red"></p>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">View</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-responsive table-hover table-striped">
                        <tr>

                            <th>
                                CODE
                            </th>
                            <th>
                                DESC
                            </th>
                            <th>

                            <th></th>
                        </tr>

                        <tbody class="tbody" id="tbodyMaster"></tbody>

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


